<div [ngClass]="{'bg-light': !isDarkMode, 'bg-dark text-light': isDarkMode}">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">About Interview Preparation</h1>
          <p class="lead mb-0" [ngClass]="{'text-muted': !isDarkMode, 'text-light': isDarkMode}">
            We help you prepare for your next job interview with comprehensive resources and practice tools.
          </p>
          <p class="lead" [ngClass]="{'text-muted': !isDarkMode, 'text-light': isDarkMode}">
            Trusted by thousands of job seekers worldwide.
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
          <img style="width: 30rem;" src="../../../assets/images/other/ChatGPT Image Apr 8, 2025, 05_09_57 PM.png" alt="Interview preparation illustration" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  
  <div [ngClass]="{'bg-white': !isDarkMode, 'bg-dark text-light': isDarkMode}">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1">
          <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Interactive Practice Sessions</h2>
          <p class="font-italic mb-4" [ngClass]="{'text-muted': !isDarkMode, 'text-light': isDarkMode}">
            Our platform offers personalized interview simulations and practice sessions designed to build your confidence and skills.
          </p>
          <a href="/practice" class="btn btn-primary px-5 rounded-pill shadow-sm">Practice Now</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
          <img style="width: 30rem;" src="../../../assets/images/other/ChatGPT Image pactice.png" alt="Practice sessions" class="img-fluid mb-4 mb-lg-0">
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto">
          <img style="width: 30rem;" src="../../../assets/images/other/ChatGPT Image guid.png" alt="Interview resources" class="img-fluid mb-4 mb-lg-0">
        </div>
        <div class="col-lg-6">
          <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Comprehensive Resources</h2>
          <p class="font-italic mb-4" [ngClass]="{'text-muted': !isDarkMode, 'text-light': isDarkMode}">
            Access our extensive library of interview questions, answers, and expert tips to prepare for any job interview in your field.
          </p>
          <a href="/resources" class="btn btn-primary px-5 rounded-pill shadow-sm">Explore Resources</a>
        </div>
      </div>
    </div>
  </div>
  
  <div [ngClass]="{'bg-light': !isDarkMode, 'bg-dark text-light': isDarkMode}">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <p class="font-italic" [ngClass]="{'text-muted': !isDarkMode, 'text-light': isDarkMode}">
            Meet the experts behind our interview preparation platform.
          </p>
        </div>
      </div>
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div [ngClass]="{'bg-white': !isDarkMode, 'bg-dark text-light': isDarkMode}" class="rounded shadow-sm py-5 px-4">
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQHbDFz46FdS3Q/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1702389833531?e=1749686400&v=beta&t=EpUKJOAaSOdpXx1G7vQomQCeDW4shn2dxbw_XJT9n9M" 
                alt="Abid Ansari" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Abid Ansari</h5>
            <span class="small text-uppercase" [ngClass]="{'text-muted': !isDarkMode, 'text-light': isDarkMode}">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.facebook.com/abidansari.ansari.127" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/AbidAnsari" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/abid_ansari_official" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/abid-ansari-523699248" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
      </div>
    </div>
  </div>
  
  <footer [ngClass]="{'bg-light': !isDarkMode, 'bg-dark text-light': isDarkMode}" class="pb-5">
    <div class="container text-center">
      <p class="font-italic mb-0" [ngClass]="{'text-muted': !isDarkMode, 'text-light': isDarkMode}">
        &copy; Copyrights Interview Preparation All rights reserved.
      </p>
    </div>
  </footer>