<!-- contact-us.component.html -->
<small class="text-center">Enter a message (optional) and click the button "Send"</small>
<div class="wrapper centered">
  <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <article class="letter">
      <div class="side">
        <h1>Contact us</h1>
        <p>
          <textarea formControlName="message" placeholder="Your message"></textarea>
          <div *ngIf="shouldShowError('message')">
            Message is required.
          </div>
      </div>
      <div class="side">
        <p>
          <input type="text" formControlName="name" placeholder="Your name">
          <div *ngIf="shouldShowError('name')">
            Name is required.
          </div>
        <p>
          <input type="email" formControlName="email" placeholder="Your email">
          <div *ngIf="shouldShowError('email')">
            Email is required and must be a valid email address.
          </div>
        <p>
          <button type="submit" [disabled]="!contactForm.valid">Send</button>
        </p>
      </div>
    </article>
  </form>
  <div class="envelope front"></div>
  <div class="envelope back"></div>
</div>
<p class="result-message centered" *ngIf="messageSent">Thank you for your message</p>
