<div class="tab-pane fade show active" id="popular" role="tabpanel">
  <ng-container *ngIf="displayedPosts.length > 0; else loading">
    <div class="post post-list-sm circle" *ngFor="let frontend of displayedPosts" data-aos="fade-left">
      <div class="thumb circle" style="flex: 0 0 63px; margin-right: 15px;">
        <a [routerLink]="['/', createPermalink(frontend.data.title) + '-' + frontend.id]">
          <div class="inner" style="height: 63px; width: 63px; border-radius: 50%; overflow: hidden;">
            <img src="{{frontend.data.postImgPath}}" alt="" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
          </div>
        </a>
      </div>
      <div class="details clearfix">
        <h6 class="post-title my-0">
          <a href="#" (click)="handleLinkClick(frontend)">{{ frontend.data.title }}</a>
        </h6>
        <ul class="meta list-inline mt-1 mb-0">
          <li class="list-inline-item">{{ frontend.data.createdAt && frontend.data.createdAt.toMillis ? (frontend.data.createdAt.toMillis() | date) : 'Date not available' }}</li>    
        </ul>
      </div>
    </div>
    <div class="text-center mt-4" *ngIf="hasMorePosts">
      <button class="btn btn-simple" (click)="loadMore()">Load More</button>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="card" aria-hidden="true">
      <div class="card-body">
        <h5 class="card-title placeholder-glow">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
      </div>    
    </div>
  </ng-template>
</div>