<div class="spacer" data-height="50"></div>
<div class="section-header" id="LetestPosts">
    <h3 class="section-title">Latest Posts</h3>
</div>
<div class="padding-30 rounded bordered">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="post post-list clearfix" *ngFor="let letestPost of displayedPosts; let i = index" [attr.data-aos]="i % 2 === 0 ? 'fade-down-right' : 'fade-down-left'">
                <div class="thumb rounded">
                    <span class="post-format-sm">
                        <i class="icon-picture"></i>
                    </span>
                    <a href="#">
                        <div class="inner" (click)="handleLinkClick(letestPost)">
                            <img style="width: 20rem;height: 20rem;object-fit: cover;" src="{{ letestPost.data.postImgPath }}" alt="">
                        </div>
                    </a>
                </div> 
                <div class="details">
                    <ul class="meta list-inline mb-3">
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="https://media.licdn.com/dms/image/D4D03AQHbDFz46FdS3Q/profile-displayphoto-shrink_800_800/0/1702389833531?e=1709769600&v=beta&t=Y-9LbkrJOSoI0RG_Sbjru57OY_-5qCd66T5q51Kz5j0" class="author" style="width: 30px;" alt="">
                                Abid Ansari
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Trending</a>
                        </li>
                        <li class="list-inline-item">{{ letestPost.data.createdAt.toMillis() | date }}</li>
                    </ul>
                    <h5 class="post-tile">
                        <a href="#" (click)="handleLinkClick(letestPost)">
                            {{ letestPost.data.title }}
                        </a>
                    </h5>
                    <p class="excerpt mb-0" *ngIf="letestPost.data.excerpt">
                        {{ getFirst20Words(letestPost.data.excerpt) }}...
                    </p>
                    <p class="excerpt mb-0" *ngIf="!letestPost.data.excerpt && letestPost.data.content">
                        {{ getFirst20Words(letestPost.data.content) }}...
                    </p>
                    <p class="excerpt mb-0" *ngIf="!letestPost.data.excerpt && !letestPost.data.content">
                        Click to read this post...
                    </p>
                    <div class="post-bottom clearfix d-flex align-items-center">
                        <div class="social-share me-auto">
                            <i style="cursor: pointer;" class="fa-solid fa-share-nodes fa-fade toggle-button icon-share" (click)="toggleSocialIcons(letestPost.id)"></i>
                            <!-- <button class="toggle-button icon-share" (click)="toggleSocialIcons(letestPost.id)"></button> -->
                            <ul class="icons list-unstyled list-inline mb-0" *ngIf="isSocialIconsVisible[letestPost.id]">
                                <li class="list-inline-item">
                                    <a (click)="shareOnFacebook(letestPost)"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a (click)="shareOnTwitter(letestPost)"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a (click)="shareOnLinkedIn(letestPost)"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a (click)="shareOnWhatsApp(letestPost)"><i class="fab fa-whatsapp"></i></a>
                                    <span class="d-none d-md-inline">Mobile Only</span>
                                </li>                                
                            </ul>                            
                        </div>
                        <div class="more-button float-end">
                            <a href="#"><span class="icon-options"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4" *ngIf="hasMorePosts">
            <button class="btn btn-simple" (click)="loadMore()">Load More</button>
        </div>
    </div>
</div>